<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img id="logoheader" src="./assets/img/logotipo.png" alt="Logotipo">
        <div id="divnav">
            <nav id="navheader">
                <ul>
                    <li><a routerLink="">HOME</a></li>
                    <li><a routerLink="jogos">JOGOS</a></li>
                    <li><a routerLink="contato">CONTATO</a></li>
                </ul>
            </nav>
            <div id="menu-mobile">
                <img src="./assets/img/menu-hamburg.svg" alt="imagem menu hamburguer">
            </div>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>